body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #017afe;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

h1, h2 {
    margin: 20px;
    color: #336699;
}

b {
    color: #0066cc;
}

p {
    margin: 20px;
}

ul, ol {
    margin: 20px;
}

li {
    margin-left: 25px;
}

body.dark-mode {
    background-color: #222;
    color: #ddd;
}

nav.dark-mode {
    background-color: #444;
}

nav.dark-mode a {
    color: #ddd;
}

nav.dark-mode a:hover {
    background-color: #666;
    color: white;
}

h1, h2.dark-mode {
    color: #b3b3b3;
}

b.dark-mode {
    color: #80bfff;
}

p.dark-mode {
    color: #ccc;
}

ul.dark-mode, ol.dark-mode {
    color: #ccc;
}

li.dark-mode {
    color: #ccc;
}
