@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
/* .body{
    background-color: rgb(201, 143, 56);
    display: flex;
    align-items: center;
    justify-content:space-around;
} */
.content-wrapper{
    background-color: rgb(255, 255, 255);
    /* background-color:#017afe; */
    font-family: 'Red Hat Display', sans-serif;
    /* background-color:rgb(100, 182, 182); */
    border-radius:20px;
    /* margin: 20px;
    padding: 20px; */
    /* background-color: rgb(149,86,55); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    width: auto;
    
    font-size: 20px;
    border-radius:20px;
    /* background-color: aqua; */
    padding-top:50px;
    padding-left: 100px;
    padding-right: 100px;
   
}
.form-wrapper input{
    
    /* background-color: rgb(148,131,86); */
    /* height:30px; */
    padding: 10px;
    padding-left: 80px;
    padding-right: 40px;
    border-radius: 30px;
    font-size: 15px;
    
    
}
.convert-button{
    border:none;
    /* background-color:aliceblue; */
    /* background-color:  rgb(39,29,20); */
    background-color: #017afe;
    width: 90%;
    /* width :90px; */
    /* height:40px; */
    border-radius: 10px;
    font-size: 20px;
    color: white;  
    padding: 8px;  
}

.convert-button-wrapper{
    padding-top: 20px;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
    
}
/* .from-input-wrapper option{
    background-color: black;
    
} */


select {
font-size: 15px;
/* background-color: rgb(148,131,86); */
border-radius: 30px;
padding-left: 100px;
padding-right: 50px;
  

padding-top: 10px;
padding-bottom: 10px;
color: #333;
}

.form-wrapper:hover{
    box-shadow: 
    -10px -10px 15px rgba(219, 205, 205, 0.5),
    10px 10px 15px rgba(70,70,70,0.12);
}
.convert-button:hover{
cursor: pointer;
box-shadow: 
    -1px -1px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);  
}
#output{
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 150px;
    padding-left: 80px; */
}
.form-wrapper input:hover{
    cursor: pointer;
}
select:hover{
    cursor: pointer;
}
@media(max-width: 600px){
	/*Big smartphones [426px -> 600px]*/    
    h1{
        font-size:25px;
        /* color: green; */
    }
    .form-wrapper{
        /* font-size: 20px; */
        font-size: 20px;
    }
   
    
}